<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'application.css' %}">
    <script src="https://kit.fontawesome.com/8977334050.js" crossorigin="anonymous"></script>
    {% if curr_project %}
        <title>{{ curr_project.title.capitalize }} | Assign</title>
    {% else %}
        <title>Dashboard - Assign</title>
    {% endif %}
</head>

<body>
<!--Header-->

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Assign</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <button type="button" id="create-project" data-toggle="modal" data-target="#exampleModal1">Create
                    Project
                </button>
            </li>
            <li style="margin-right:60px;" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Change Password</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>


        </ul>
    </div>
</nav>


<!--Modals-->

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'add_project' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Project Title:</label>
                        <input type="text" name="title" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Project Description:</label>
                        <textarea class="form-control" name="description" id="message-text"></textarea>
                    </div>
                    <button type="submit" id="get-started">Add Project</button>
                    <button type="button" id="get-started" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% if curr_project %}
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a style="background-color: red;padding: 15px 20px;" href="{% url 'delete_project' curr_project.id %}" id="get-started">Delete</a>
                    <button type="button" id="get-started" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}



{% if curr_project %}
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'add_task' curr_project.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Task Title:</label>
                            <input type="text" name="title" class="form-control" id="recipient-name">
                        </div>
                        <button type="submit" id="get-started">Add Task</button>
                        <button type="button" id="get-started" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<!--Main Application-->
<main class="row">
    <!--Project tiles-->
    <section id="project-tiles" class="col-lg-3">

        {% if projects %}
            {% for project in projects %}
                <div id="project">
                    <a style="color: white;font-size: 32px;text-transform: capitalize;"
                       href="{% url 'show_project' project.id %}">{{ project.title }}</a>
                    <p>{{ project.description }}</p>
                </div>
            {% endfor %}
        {% endif %}

    </section>

    <!--Tasks tiles-->
    <section id="task-tiles" class="col-lg-9">

        {% if curr_project %}
            <button style="float:right" id="get-started" type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModal2">Create Task
            </button>
            <button style="float:right" id="get-started" type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModal3">Delete project
            </button>
            <h2 style="text-transform: capitalize;">{{ curr_project.title }}</h2>

            <p style="text-align: left;">{{ curr_project.description }}</p>
        {% endif %}

        {% if tasks %}
            {% for t in tasks %}
                <div id="task">
                    {% if t.completion_status %}
                        <p style="color: green;"><i class="fas fa-check-circle"></i></p>
                    {% else %}
                        <p style="color:red;"><i class="fas fa-times-circle"></i></p>
                    {% endif %}
                    <p>{{ t.title }}</p>
                    <p>{{ t.date }}</p>
                    <a style="color: black;" title="Delete the task" href="{% url 'task_delete' curr_project.id t.id %}"><i class="fas fa-trash-alt"></i></a>
                    <a style="color: black;" title="Change the Completion Status" href="{% url 'task_status' curr_project.id t.id %}"><i class="far fa-calendar-check"></i></a>
                </div>
            {% endfor %}
        {% endif %}

    </section>
</main>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>